.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/wall.png");
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 120px;
    width: 100%;
    background-color: #000;
    color: #fff;
    border-bottom: 5px solid #debd01;
}

.panel {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    height: 180px;
    width: 180px;
    border: 1px solid #000;
    background-color: #5cd2b9;
}

.enemy {
    background-image: url("../images/ralph.png");
    background-size: cover;
    background-position: center;
    background-color: #183731;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2) {
    margin-top: 1rem;
}